<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <div id="app">

    <!-- v-on: 앱과 상호 작용할 수 있게 하기 위해 우리는 v-on 디렉티브를 사용하여 Vue 인스턴스에서 메소드를 호출하는 이벤트 리스너를 추가 할 수 있음 
      DOM을 건드리지 않고 데이터를 업데이트 한다. 연결된 dom이 자동으로 됨. 따라서 직접적으로 DOM을 찾아서 변경할 필요가 없다
    -->
    <div id="v-on_box">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">메시지 뒤집기</button>
    </div>

    <!-- v-model 양식에 대한 입력과 앱 상태를 양방향으로 바인딩  -->
    <div id="v-model_box">
      <input v-model="change">
      <p>{{  change  }}</p>
    </div>

    <div id="practice">
      <div class="box" v-bind:class="{ active: toggle }" v-on:click="toggleEl">
        {{text}}
      </div>
      <button v-on:click="toggleEl">toggle</button>
      <input type="text" v-model="text">
    </div>
  </div>

  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        message: '안녕하세요 강참치 입니다.',
        change: '바뀔단어입니다.',
        toggle: false,
        text: ''
      },
      methods: {
        reverseMessage: function() {
          // this? 함수에서 함수를 가르킴 -> 뷰 인스턴스 내에서는 뷰 인스턴스를 가르킴. 따라서 vm을 의미
          this.message = this.message.split('').reverse().join('')
          // split => 문자 데이터를 특정한 기준으로 쪼개서 배열로 만듬
          // reverse 배열을 뒤집음
          // join = 문자 데이터를 특정한 기준으로 합침
        },
        toggleEl() {
          this.toggle = !this.toggle
        }
      }

    })
  </script>
  <style>
    .box {
      width: 150px;
      height: 150px;
      background: #ececec;
      cursor: pointer;
      transition: 1s;
    }
    .box.active {
      width: 400px;
      background: #151515;
    }
  </style>
</body>
</html>