<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <!-- vue 컴포넌트는 미리 정의된 옵션을 가진 Vue 인스턴스 
    지금과 같은 구조는 가장 기본적인 구조임
  -->
  <div id="app">
    <ul>
      <!-- 컴퍼넌트는 todo 를 모르기 때문에 todos 배열에서 todo를 for 로 돌려서 my-todo-item 에 바인드 해준다 -->
      <my-todo-item v-for="todo in todos" v-bind:key="todo.id" v-bind:todo="todo"></my-todo-item>
    </ul>
    <ul>
      <my-todo-item v-for="todo in todos2" v-bind:key="todo.id" v-bind:todo="todo"></my-todo-item>
    </ul>
  </div>

  <style>
    li span.done {
      text-decoration: line-through;
    }
  </style>
  <script>
  Vue.component('my-todo-item', {
    // props: property 부모 영역 데이터에서 받아올 값
    props: ['todo'],
    template: 
      `<li>
        <input type="checkbox" v-model="todo.done">
        <span v-bind:class="{ done: todo.done}">{{todo.title}}</span>
      </li>`
  })

  const vm = new Vue({
    el: "#app",
    data: {
      todos: [
        {
          id: '1',
          title: '아침 먹기',
          done: true
        },
        {
          id: '2',
          title: '점심 먹기',
          done: false
        },
        {
          id: '3',
          title: '저녁 먹기',
          done: false
        },
        {
          id: '4',
          title: '간식 먹기',
          done: false
        },
        {
          id: '5',
          title: '술 먹기',
          done: false
        },
      ],
      todos2: [
        {
          id: '6',
          title: '씻기',
          done: true
        },
        {
          id: '7',
          title: '잠자기',
          done: false
        },
      ]
    },
  })
  </script>
</body>
</html>



