<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- v-vind active 에 클래스를 바인드해서 색을 바꿔줌 (vind: 이름에 속성을 연관시켜 주는것) -->
    <div id="vind_test_box">
      <div class="text" v-bind:class="{ active: active }">
        {{ message }}
      </div>
    </div>

    <!-- v-if 텍스트와 속성뿐 아니라 DOM의 구조에도 데이터를 바인딩 할 수 있음 
    Vue 엘리먼트가 Vue에 삽입/업데이트/제거될 때 자동으로 트랜지션 효과를 적용할 수 있는 강력한 전환 효과 시스템을 제공
    -->
    <div id="v-if_box">
      <!-- active 이면 보이는 span -->
      <span v-if="active">active!</span> 
    </div>

    <!-- v-for : v-for 디렉티브는 배열의 데이터를 바인딩 -->
    <div id="v-for_box">
      <ol>
        <li v-for="todo in todos">
          {{  todo.text  }}
        </li>
      </ol>
    </div>

    <!-- v-for 디렉티브는 v-bind:key 라는 속성을 무조건 써줘야한다. 각각 키를 줘야함(각 아이템의 고유값) -->
    <div id="v-for_box2">
      <ul>
        <li v-for="item in items" v-bind:key="id">
          {{ item.message }}
        </li>
      </ul>
    </div>
  </div>

  <style>
  .text {
    font-size: 50px;
  }
  .text.active {
    color: red;
  }
  </style>
  <script>
  const vm = new Vue({
    el: "#app",
    data: {
      message: "hello vue!",
      active: true,
      todos: [
        { text: 'JavaScript'},
        { text: 'Vue'},
        { text: '어렵다 ㅜ'}
      ],
      items: [
        {
          id: '1',
          message: 'Hello'
        },
        {
          id: '2',
          message: 'Dongwon'
        },
        {
          id: '3',
          message: 'Good'
        }
      ]
    },
  })
  </script>
</body>
</html>