<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div class="todos">
      <div v-for="todo in computedTodos" :key="todo.id">
        <input type="checkbox" v-model="todo.done">
        <span>{{  todo.title  }}</span>
      </div>
    </div>
  </div>

  <style>

  </style>
  <script>
  const vm = new Vue({
    el: "#app",
    data: {
      todos: [
        { title: '아침 먹기'},
        { title: '점심 먹기'},
        { title: '저녁 먹기'}
      ]
    },
    computed: {
      //computed는 항상 값이 반환되는것을 데이터로 사용하는것임
      // 기존 todos에는 id와 done이 없다. 따라서 id done 을 computed 를 통해서 추가해줄 수 있다.
      computedTodos () {
        // computedTodos란 이름으로 todos에 map 함수를 통해서 새로운 배열을 만들어준다
        return this.todos.map((todo, index) => {
          // return Object.assign({}, todo, {
          //   id: index + 1,
          //   done: false
          // })
          return {
            ...todo,
            id: index + 1,
            done: false
          }
        }) 
      }
    }
  })
  </script>
</body>
</html>